* {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.hero {
  text-align: center;
  background-image: url("../images/the-flatiron-building.png");
}

.btn-nav {
  font-size: 18px;
  color: white;
}

.supporting {
  text-align: center;
}

.supporting-item {
  text-align: center;
}

.footer {
  color: white;
  background-color: dimgray;
}

.foot-nav {
  font-size: 11px;
  color: white;

}

.mini-hero {
  color: white;
}
